{% extends 'base.html' %}

{% block title %} Risorsa non trovata {% endblock %} 

{% block content %} 



                        
<div class="container d-flex justify-content-center align-items-center vh-100" style="color:black">
    <div class="col-md-6">
        <section>
            <div class="card text-center">
                <div class="card-body">
                    
                    <p style="font-size:100px">&#128534;</p>
                    <h2 style="color:red">
                        Error 404 
                    </h2>
                    <h3 style="color:black">Risorsa non trovata.</h3>
                    <h4>Torna alla <a href="/">home page</a></h4>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
