{% extends 'base.html' %}

{% block title %} Cerca Campo {% endblock %} 

{% block content %} 

{% if "ok" in request.GET.registration %}
<div id="info" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Benvenuto {{request.user.username}}!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Chiudi</button>
        </div>
    </div>
    </div>
</div> 
<script>
    $(document).ready(function(){
        $("#info").modal('show');
    });
</script>
{% endif %}
<form method="get" action="{% url 'core:listacampi' %}">
    <div class="container mt-5" style="display: flex; flex-direction: column; justify-content: center;">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="mx-auto ">
                                <div class="card">
                                    <div class="card-header text-black text-center">
                                        <h2>Cerca campi</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row m-2">
                                            <div class="col">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <label for="luogo" class="visually-hidden">Luogo:</label>
                                                        <input type="text" id="luogo" name="luogo" class="form-control" placeholder="Inserisci il luogo..." value="{{ luogo }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col">
                                                <select id="tipo_sport" name="tipo_sport" class="form-select">
                                                    <option value="">Scegli un tipo di sport</option>
                                                    {% for tipo_sport, tipo_sport_display in tipi_sport %}
                                                        <option value="{{ tipo_sport }}" {% if tipo_sport == tipo_sport_query %}selected{% endif %}>{{ tipo_sport_display }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col">
                                                <select id="coperto" name="coperto" class="form-select">
                                                    <option value="">Non specificato</option>
                                                    <option value="True" {% if coperto == 'True' %}selected{% endif %}>Coperto</option>
                                                    <option value="False" {% if coperto == 'False' %}selected{% endif %}>Scoperto</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row m-2">
                                            <div class="col-md-9">
                                                <select id="ordinamento" name="ordinamento" class="form-select">
                                                    <option value="voto_medio" {% if ordinamento == 'voto_medio' %}selected{% endif %}>Recensioni</option>
                                                    <option value="costo" {% if ordinamento == 'costo' %}selected{% endif %}>Costo</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select id="ordine" name="ordine" class="form-select">
                                                    <option value="desc" {% if ordine == 'desc' %}selected{% endif %}>▼</option>
                                                    <option value="asc" {% if ordine == 'asc' %}selected{% endif %}>▲</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="col-md-12 d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-primary">Cerca</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>

    



{% endblock %}

