{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %} 

{% block content %} 


<div class="container">
    <h2 class="my-4">Crea Campo</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_tipo_sport">Tipo di Sport:</label>
            {{ form.tipo_sport }}
        </div>
        <div class="form-row align-items-center">
            <div class="form-group d-flex justify-content-between align-items-center col-md-4">
              <label for="id_costo">Costo:&nbsp;</label>
              {{ form.costo }}
              <div class="form-check ml-2">
                <label class="form-check-label" for="id_coperto">Coperto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.coperto }}</label>
              </div>
            </div>
          </div>
        <div class="form-group">
            <label>Servizi:</label>
            {% for servizio in form.servizi %}
            <div class="form-check">
                {{ servizio }}
                <label class="form-check-label ml-2" for="{{ servizio.id_for_label }}">{{ servizio.get_nome_display }}</label>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}